#abc {
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
img#close {
  position:absolute;
  right:-14px;
  top:-14px;
  cursor:pointer
}
div#popupContact {
  position:absolute;
  left:50%;
  top:17%;
  margin-left:-202px;
  font-family:'Raleway',sans-serif
}
form.form1 {
  max-width:300px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid gray;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff
}

p {
  margin-top:30px
}
h2 {
  background-color:#FEFFED;
  padding:20px 35px;
  margin:-10px -50px;
  text-align:center;
  border-radius:10px 10px 0 0
}
hr {
  margin:10px -50px;
  border:0;
  border-top:1px solid #ccc
}
input.input1[type=text] {
  width:82%;
  padding:10px;
  text-align:center;
  border:1px solid #ccc;
  font-size:16px;
  font-family:raleway;
  display:block;
  margin:auto;
  margin-bottom:10px;

}
input.submit1[type=submit]{
  display:block;
  margin:auto;
}
#submit {
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#FFBC00;
  color:#fff;
  border:1px solid #FFCB00;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  border-radius:5px;
  margin-bottom:5px;
}
#inscription {
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#FFBC00;
  color:#fff;
  border:1px solid #FFCB00;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  border-radius:5px
}

.navbar {
  list-style-type: none;
  margin: 0;


  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left:0;
  width: 98%;
  z-index: 99999;

}

.menu {
  float: left;
}

.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover:not(.active) {
  background-color: red;
}


fieldset
{
  background-color:#333;
  max-width:500px;
  padding:16px;   
  border:2px solid black;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;   
  border-radius:8px;  
  width:1px;
}

.slideshow {
 max-width: 80%;
 max-height: 60%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
 transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
 border-style: solid;
 border-right-color: grey;

}
.inscription {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
}
.boutonSubmit{
  text-align: center;
}

#repair{
  padding-top: 50px;
  width:50%;
  height:100%;
  display: block;
  float:left;
}
#repair2{
  width:50%;
  display: block;
  float:right;
  height:100%;
  padding-top: 50px;


}
#repair:hover{
  -webkit-filter: grayscale(100%);
}
#repair2:hover{
  -webkit-filter: grayscale(100%);
}
body{
  background-color: rgba(0, 0, 0, 0.7);
  overflow:hidden;
}

.imgFondSlideShow{
  width:100%;
}